<a href="https://colab.research.google.com/github/KEETHAVANI/PYTHON/blob/main/Copy_of_keetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
c=a+b
d=a-b
e=a/b
f=a%b
g=a*b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

30
-10
0.5
10
200
100000000000000000000

In [ ]:
a=10
a=-1
print(a)

-1

In [ ]:
a=10
a=b
print(a is b)
print(a is not b)

True
False

In [ ]:
x="apple"
print("apple" not in x)

False

In [ ]:
a=2
b=4
if(a>b):
  print("a is greater")
else:
  print("a is lesser")

a is lesser

In [ ]:
a=float(input("Enter a number"))
b=float(input("Enter a number"))
c=(a+b)/2
print("Average is",c)

Enter a number2
Enter a number4
Average is 3.0

In [ ]:
a=1
b=2.0
print("datatype",type(a))
print("datatype",type(b))
print("value of c:",c)
print("datatype",type(c))

datatype <class 'int'>
datatype <class 'float'>
value of c: 3.0
datatype <class 'float'>

In [ ]:
a=1
b="10"
print(type(a))
print(type(b))
b=int(b)
sum=a+b
print(sum)
print(type(sum))

<class 'int'>
<class 'str'>
11
<class 'int'>

In [ ]:
a=float(input("Enter a number:"))
b=float(input("Enter a number:"))
c=float(input("Enter a number:"))
if(a>b):
  print("a is largest")
elif(b>c):
  print("b is largest")
else:
  print("c is largest")

Enter a number:3
Enter a number:5
Enter a number:4
b is largest

In [ ]:
x=float(input("Enter a number:"))
if(x%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:5
The number is odd

In [ ]:
r=float(input("Enter the radius of the circle:"))
Area=2*(22/7)*r
Circumference=(22/7)*r*r
print("The area of the circle is:",Area)
print("The circumference of the circle is:",Circumference)

Enter the radius of the circle:4
The area of the circle is: 25.142857142857142
The circumference of the circle is: 50.285714285714285

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=a+b
d=a/b
e=a%b
f=a**b
g=(a+b)/2
print(type(a))
print(type(b))
print(c,d,e,f,g)

In [1]:
a=1
b="10"
b=int(b)
sum=a+b
print(sum)
print(type(sum)) #typecasting since a str&int can't be added

11
<class 'int'>

In [3]:
my_str="Keetha is a good girl"
#print(len(my_str))
print(my_str[1:9])
#print(my_str[0:9])
#rint(my_str[0:65])
print(my_str[:5])
#print(my_str[0:17:2])
print(my_str[::-1])

eetha is
Keeth
lrig doog a si ahteeK

In [4]:
my_str="PRIYA IS A GOOD GIRL"
print(my_str.isalnum())#string that contains only alpb and nums
print(my_str.endswith("girl"))
print(my_str.count("A"))
print(my_str.lower())

False
False
2
priya is a good girl

In [5]:
stationary=["pen","pencil","eraser","scale","marker",56]#mutable can be changed
print(stationary)
print(stationary[2])

['pen', 'pencil', 'eraser', 'scale', 'marker', 56]
eraser

In [7]:
digits=[2,5,9,1,6]
print(digits)
print(digits[3])
digits.sort()
print(max(digits))
print(min(digits))
digits.append(3)
print(digits)
digits.remove(2)
print(digits)

[2, 5, 9, 1, 6]
1
9
1
[1, 2, 5, 6, 9, 3]
[1, 5, 6, 9, 3]

In [8]:
tup=(1,2,3,4,5)#immutable cant b changed
print(tup)

(1, 2, 3, 4, 5)

In [9]:
#swapping
a=1
b=2
a,b=b,a
print(a,b)

2 1