<a href="https://colab.research.google.com/github/KEETHAVANI/PYTHON/blob/main/Copy_of_keetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
c=a+b
d=a-b
e=a/b
f=a%b
g=a*b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

30
-10
0.5
10
200
100000000000000000000

In [ ]:
a=10
a=-1
print(a)

-1

In [ ]:
a=10
a=b
print(a is b)
print(a is not b)

True
False

In [ ]:
x="apple"
print("apple" not in x)

False

In [ ]:
a=2
b=4
if(a>b):
  print("a is greater")
else:
  print("a is lesser")

a is lesser

In [ ]:
a=float(input("Enter a number"))
b=float(input("Enter a number"))
c=(a+b)/2
print("Average is",c)

Enter a number2
Enter a number4
Average is 3.0

In [ ]:
a=1
b=2.0
print("datatype",type(a))
print("datatype",type(b))
print("value of c:",c)
print("datatype",type(c))

datatype <class 'int'>
datatype <class 'float'>
value of c: 3.0
datatype <class 'float'>

In [ ]:
a=1
b="10"
print(type(a))
print(type(b))
b=int(b)
sum=a+b
print(sum)
print(type(sum))

<class 'int'>
<class 'str'>
11
<class 'int'>

***LECTURE 2 HW***

In [ ]:
a=float(input("Enter a number:"))
b=float(input("Enter a number:"))
c=float(input("Enter a number:"))
if(a>b):
  print("a is largest")
elif(b>c):
  print("b is largest")
else:
  print("c is largest")

Enter a number:3
Enter a number:5
Enter a number:4
b is largest

In [ ]:
x=float(input("Enter a number:"))
if(x%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:5
The number is odd

In [ ]:
r=float(input("Enter the radius of the circle:"))
Area=2*(22/7)*r
Circumference=(22/7)*r*r
print("The area of the circle is:",Area)
print("The circumference of the circle is:",Circumference)

Enter the radius of the circle:4
The area of the circle is: 25.142857142857142
The circumference of the circle is: 50.285714285714285

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=a+b
d=a/b
e=a%b
f=a**b
g=(a+b)/2
print(type(a))
print(type(b))
print(c,d,e,f,g)

***LECTURE 3 HW***

In [ ]:
#palindrome 
my_str=input("Enter a string:")
my_str=my_str.casefold()
rev_str=reversed(my_str)
if list(my_str)==list(rev_str):
  print("The string is palindrome")
else:
  print("The string is not palindrome")

Enter a string:rotor
The string is palindrome

In [ ]:
a=10    
b=20
c=a*b
d=a+b
if(c>1000):
  print(c)
else:
  print(d)

30

In [ ]:
#swapping 
a=30
b=40
(a,b)=(b,a)
print(a,b)

40 30

***LECTURE 4***

In [ ]:
var1=5
var2=6
var3=int(input("Enter a number:"))
if(var3>var2):
  print("var3 is greater")
elif(var1==var3):
  print("they are equal")
else:
  print("var3 is smaller")

Enter a number:5
they are equal

In [ ]:
list=[1,5,7]
if 3 in list:
  print("It's in the list")
if 3 not in list:
  print("It's not in the list")

It's not in the list

In [ ]:
#list1=["priya","meena","sneha"]  #in for loop we get op in a single line without quotations
#for item in list1:
 # print(item)
list2=[["priya",2],["meena",3],["sneha",5]]
for item,fruits in list2:
  print(item,fruits)

priya 2
meena 3
sneha 5

In [ ]:
#multiples of 5
a=0
while(a<=50):
  print(a)
  a=a+5

0
5
10
15
20
25
30
35
40
45
50

In [ ]:
i=0
while(True): #when using while cond with true inside it goes into the loop 
     #  if i+1<5:
      #   i=i+1
       #  continue    #continues until given limit
    
    
    print(i+1)
    if(i==44):
       break     #stop the loop
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [ ]:
#mulitiple of 10
a=0
while(a<=100):
  print(a)
  a=a+10

0
10
20
30
40
50
60
70
80
90
100

***LECTURE 4 HW***

In [ ]:
#factorial
n=int(input("Enter a number:"))
i=1
fact=1
while(i<=n):
  fact=fact*i
  i=i+1
  print(fact)

Enter a number:7
1
2
6
24
120
720
5040

In [ ]:
#GCD largest number that divides both the given int
import math
a=int(input("Enter a number"))
b=int(input("Enter a number"))
print("Gcd is",math.gcd(a,b))

Enter a number16
Enter a number18
Gcd is 2

In [ ]:
n=int(input("Enter a number:"))
#odd or even
if(n%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:5
The number is odd

In [ ]:
#counting no of odd &even no's from series
numbers=(1,2,3,4,5,6,7,8,9)
count_odd=0
count_even=0
for x in numbers:
  if not x%2:
    count_even+=1
  else:
    count_odd+=1
print("Number of even no's:",count_even)
print("Number of odd no's:",count_odd)

Number of even no's: 4
Number of odd no's: 5

In [ ]:
#sum of 2 no's
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=a+b
if(c<=15 & c>20):
  print("sum is",c)
else:
  print("sum is 20")

Enter a number:7
Enter a number:9
sum is 20

In [ ]:
#prime nos within range gn     (num divisible by itself and 1)
lower=int(input("Enter lower range:"))
upper=int(input("Enter upper range:"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
  else:
    print(num)

***LECTURE 5***

In [ ]:
#functions
#builtin fn(already there)
a=2
b=4
c=sum((a,b))
print(c)

6

In [ ]:
#user defined fn(made on our own)
def fun():   #function declaration
  print("My name is keetha")

fun() #fn calling

My name is keetha

In [ ]:
def newfunction(a,b):
  multiply=a*b
  """This is a function which calculates the multiplication of two numbers """    
  print(multiply)
  #return multiply            #a=2
                              #b=5

a=newfunction(2,5)
print(a) 
print(newfunction.__doc__)

10
None
None

In [ ]:
print("Enter a number:")
num1=input()
print("Enter a number:")
num2=input()
try:
  print("sum is :", int(num1) + int(num2))
except Exception as e:
  print(e)

Enter a number:
2
Enter a number:
4
sum is : 6

In [ ]:
x=5        #global var(def outside fn)
def fun():
  x=10    #local var(def inside fn)
  print("Local Variable is:",x)
fun()
print("Global variable:",x)

Local Variable is: 10
Global variable: 5

In [ ]:
#iteration & recursion
#recursion(fn inside a fn)
def factorial_recursive(n):
  if n==1:
    return 1
  else:
    return n*factorial_recursive(n-1)
number= int(input("Enter a number:"))
print("Factorial:",factorial_recursive(number))

Enter a number:5
Factorial: 120

In [ ]:
#user defined fn for subtraction
def fun():
  a=2
  b=1
  c=a-b
  print(c)
fun()

1

In [ ]:
#subraction usinf lambda
minus=lambda x,y:x-y
print(minus(9,4))

5

In [ ]:
#f  is string
my="keetha"
s=10
s1=f"My name is {my} {s}"
print(s1)

My name is keetha 10

***LECTURE 6***

In [ ]:
# CONSTRUCTORS:giving arg to class
#abstraction-hiding an unimportant data
#encapsulation-hiding the data for the purpose of protection
#polymorphism-ability to take various forms

In [ ]:
#inheritance-it is the capability of one class from another class

***LECTURE 6***

In [10]:
def fun(string) :
  return f"Python course by Tech Table, {string}"    #usage of F-string
def add(a1,a2) :
    return a1+a2+10
if __name__ == '__main__':   #main function
print(fun("an E-learning platform")) 
 a = add(10,20)
print(a)

IndentationError: ignored

In [12]:
class student:
  pass
  no_of_student = 5
  #INSTATATION, creation of objects
one = student()
two = student()
one.name = "Keetha"
one.std = "10"
one.section  = "A"
two.name = "Diya"
two.section = "B"
two.std = "2"
two.sub = ["Science", "Maths" , "English"]
print(one.name)
print(two.name)
print(one.std)
print(two.std)
print(one.section)
print(two.section)

Keetha
Diya
10
2
A
B

In [13]:
class student:
  no_of_student = 5
  def __init__(self,aname,astd,asection):
    self.name = aname
    self.std = astd
    self.section = asection
one = student("Keetha",10,"A") 
two = student("Diya",2,"B")
print(one.name)
print(two.name)
print(one.std)
print(two.std)
print(one.section)
print(two.section)

Keetha
Diya
10
2
A
B

In [ ]:
class student:
  #class variable
  no_of_subjects = 50
  _no_of_subjects = 40
  __no_of_subjects = 30

  def __ini__(self, aname, astandard, asection):
      self.name = aname
      self.standard = astandard
      self.section = asection
  def details(self):
    return f"Name is {self.name}, standard is {self.standard}" 
one = student("Yamuna", 10,"A")
two = student("Buvana", 7,"B")

print(one.no_of_subjects)
print(one._no_of_subjects)
print(one._student__no_of_subjects)

In [18]:
#polymorphism
print(2+2)
print("2"+"2")

4
22

In [21]:
class student:
   no_of_subjects = 5
   def __init__(self, aname,astandard,asection):
      self.name = aname
      self.standard = astandard
      self.section = asection
   def details_of_student(self):
     return f"Name is {self.name},standard is {self.standard}"
class teacher(student):
    no_of_working_hours = 12
    def __init__(self,aname,astandard,asection,asalary):
        self.name = aname
        self.standard = astandard
        self.section = asection
        self.salary = asalary
    def details_of_teacher(self):
        return f"Name of the teacher is {self.name},standard is{self.standard},salary is {self.salary}"
        #INSTANTATION ,CREATING OF OBJECTS
one = student("JAMUNA",2,"A")
two = student("SANCHANA",8,"B")

three = teacher("SHAMBHAVI",10,"A",50000)
four = teacher("GUPTA",12,"B", 50000)

print(one.details_of_student())
print(two.details_of_student())

print(three.details_of_teacher())
print(four.details_of_teacher())
print(three.no_of_subjects)

Name is JAMUNA,standard is 2
Name is SANCHANA,standard is 8
Name of the teacher is SHAMBHAVI,standard is10,salary is 50000
Name of the teacher is GUPTA,standard is12,salary is 50000
5