<a href="https://colab.research.google.com/github/KEETHAVANI/PYTHON/blob/main/keetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
c=a+b
d=a-b
e=a/b
f=a%b
g=a*b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

30
-10
0.5
10
200
100000000000000000000

In [ ]:
a=10
a=-1
print(a)

-1

In [ ]:
a=10
a=b
print(a is b)
print(a is not b)

True
False

In [ ]:
x="apple"
print("apple" not in x)

False

In [ ]:
a=2
b=4
if(a>b):
  print("a is greater")
else:
  print("a is lesser")

a is lesser

In [ ]:
a=float(input("Enter a number"))
b=float(input("Enter a number"))
c=(a+b)/2
print("Average is",c)

Enter a number2
Enter a number4
Average is 3.0

In [ ]:
a=1
b=2.0
print("datatype",type(a))
print("datatype",type(b))
print("value of c:",c)
print("datatype",type(c))

datatype <class 'int'>
datatype <class 'float'>
value of c: 3.0
datatype <class 'float'>

In [ ]:
a=1
b="10"
print(type(a))
print(type(b))
b=int(b)
sum=a+b
print(sum)
print(type(sum))

<class 'int'>
<class 'str'>
11
<class 'int'>

In [ ]:
a=float(input("Enter a number:"))
b=float(input("Enter a number:"))
c=float(input("Enter a number:"))
if(a>b):
  print("a is largest")
elif(b>c):
  print("b is largest")
else:
  print("c is largest")

Enter a number:3
Enter a number:5
Enter a number:4
b is largest

In [ ]:
x=float(input("Enter a number:"))
if(x%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:5
The number is odd

In [ ]:
r=float(input("Enter the radius of the circle:"))
Area=2*(22/7)*r
Circumference=(22/7)*r*r
print("The area of the circle is:",Area)
print("The circumference of the circle is:",Circumference)

Enter the radius of the circle:4
The area of the circle is: 25.142857142857142
The circumference of the circle is: 50.285714285714285

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=a+b
d=a/b
e=a%b
f=a**b
g=(a+b)/2
print(type(a))
print(type(b))
print(c,d,e,f,g)

In [ ]:
#palindrome 
my_str=input("Enter a string:")
my_str=my_str.casefold()
rev_str=reversed(my_str)
if list(my_str)==list(rev_str):
  print("The string is palindrome")
else:
  print("The string is not palindrome")

Enter a string:rotor
The string is palindrome

In [ ]:
a=10    
b=20
c=a*b
d=a+b
if(c>1000):
  print(c)
else:
  print(d)

30

In [ ]:
#swapping 
a=30
b=40
(a,b)=(b,a)
print(a,b)

40 30

In [ ]:
var1=5
var2=6
var3=int(input("Enter a number:"))
if(var3>var2):
  print("var3 is greater")
elif(var1==var3):
  print("they are equal")
else:
  print("var3 is smaller")

Enter a number:5
they are equal

In [ ]:
list=[1,5,7]
if 3 in list:
  print("It's in the list")
if 3 not in list:
  print("It's not in the list")

It's not in the list

In [ ]:
#list1=["priya","meena","sneha"]  #in for loop we get op in a single line without quotations
#for item in list1:
 # print(item)
list2=[["priya",2],["meena",3],["sneha",5]]
for item,fruits in list2:
  print(item,fruits)

priya 2
meena 3
sneha 5

In [ ]:
#multiples of 5
a=0
while(a<=50):
  print(a)
  a=a+5

0
5
10
15
20
25
30
35
40
45
50

In [ ]:
i=0
while(True): #when using while cond with true inside it goes into the loop 
     #  if i+1<5:
      #   i=i+1
       #  continue    #continues until given limit
    
    
    print(i+1)
    if(i==44):
       break     #stop the loop
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [3]:
#mulitiple of 10
a=0
while(a<=100):
  print(a)
  a=a+10

0
10
20
30
40
50
60
70
80
90
100

In [5]:
#factorial
n=int(input("Enter a number:"))
i=1
fact=1
while(i<=n):
  fact=fact*i
  i=i+1
  print(fact)

Enter a number:7
1
2
6
24
120
720
5040

In [9]:
#GCD largest number that divides both the given int
import math
a=int(input("Enter a number"))
b=int(input("Enter a number"))
print("Gcd is",math.gcd(a,b))

Enter a number16
Enter a number18
Gcd is 2

In [14]:
n=int(input("Enter a number:"))
#odd or even
if(n%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:5
The number is odd

In [15]:
#counting no of odd &even no's from series
numbers=(1,2,3,4,5,6,7,8,9)
count_odd=0
count_even=0
for x in numbers:
  if not x%2:
    count_even+=1
  else:
    count_odd+=1
print("Number of even no's:",count_even)
print("Number of odd no's:",count_odd)

Number of even no's: 4
Number of odd no's: 5

In [19]:
#sum of 2 no's
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=a+b
if(c<=15 & c>20):
  print("sum is",c)
else:
  print("sum is 20")

Enter a number:7
Enter a number:9
sum is 20

In [ ]:
#prime nos within range gn     (num divisible by itself and 1)
lower=int(input("Enter lower range:"))
upper=int(input("Enter upper range:"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
  else:
    print(num)